* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  text-align: center;
  padding: 50px;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: inline-block;
  max-width: 500px;
  width: 100%;
}

h1 {
  color: #6a5acd;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

form {
  text-align: left;
}

label {
  font-weight: bold;
  color: #333;
  display: block;
  margin-top: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  font-family: Arial, sans-serif;
}

textarea {
  height: 120px;
  line-height: 1.5;
  padding: 12px;
  resize: none;
  color: #333;
}

button {
  background-color: #6a5acd;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
}

button:hover {
  background-color: #5948b0;
}

a {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: #6a5acd;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

a:hover {
  background-color: #6a5acd;
  color: white;
}
